@font-face {
    font-family: 'Open-Sans-Regular';
    src: url('./fonts/OpenSans-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open-Sans-Bold';
    src: url('./fonts/OpenSans-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open-Sans-ExtraBold';
    src: url('./fonts/OpenSans-ExtraBold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open-Sans-SemiBold';
    src: url('./fonts/OpenSans-SemiBold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}